.region-list {
  display: flex;
  flex-direction: column;
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    width: 100%;
    font-size: 30px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
}
