@import '../../../assets/scss/abstracts/variables';

.dashboard {
  &__links {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content: center;
  }
  &__link {
    font-size: 30px;
    margin: 0 20px;
    &:hover {
      cursor: pointer;
    }
    &--active {
      color: $color-primary;
    }
  }
}
